  .column {
    display: flex;
    flex-direction: column;
    padding-left: 12px;
    padding-top: 8px;
    width: 250px;
    background: black;
    color: white;
  }
  .column a {
    color: white;
    padding-left: 70px;
    padding-top: 12px;
    padding-bottom: 10px;
  }
  .column a:hover {
    text-decoration: underline;
  }
  .logo {
    padding-right: 10px;
    margin-right: 2px;
  }
  .logo h2 {
    margin-bottom: 5px;
    padding-left: 20px;
  }
  img {
    border-radius: 50%;
  }
  .hr {
    margin-right: 10px;
    background-color: white;
  }

  .social {
    position: absolute;
    overflow: auto;
    padding-left: 20px;
    padding-bottom: 20px;
    bottom: 0;
  }
  
  .social a {
    display: inline;
    padding-left: 20px;
  }

  @media screen and (max-width: 1080px) {
    .social {
      display: none;
      overflow: hidden
  }}